.flex-container{
    background-color: cadetblue;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;   
    height: 500px;
    /*align-items: baseline;*/
    justify-content: center;
    align-content: space-around;
}

.flex-items {
    background-color: chartreuse;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
}

.div{
    font-size: 15px;
}
